body {
    background-color: #CCC;
}

#selections {
    display: flex;
    justify-content: center;
}

#rock,
#paper,
#scissors {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 7rem;
    transition: 100ms;
    margin: 0 20px;
}

#rock:hover,
#paper:hover,
#scissors:hover {
    transform: scale(1.3);
}

.results {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 3rem;
}

.results-score-you,.results-score-pc {
    margin-left: .1rem;
    color: #333;
}